<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Files</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table th:if="${files.size()>0}" border="1">
    <caption th:text="${dir.getPath()} + ' (' + ${dir.getCreatedDate()} + ')'"></caption>
    <thead>
    <tr style="background-color: #EEEEEE;">
        <th>Файл</th>
        <th>Размер</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="file,iterstat : ${files}" th:style="${iterstat.even} ? 'background-color: #F0F0F0' : 'background-color: #FFFFFF'">
        <td th:text="${file.getName()}"/>
        <td th:text="${file.isDirectory()?'<dir>':file.getSizeReadable()}"
            th:style="${file.isDirectory()} ? 'text-align: center' : 'text-align: right'"/>
    </tr>
    </tbody>
</table>
<br>
<input  type="submit" value="Закрыть" th:onclick="'javascript:window.close()'"/>
</body>
</html>