<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Directories</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Directories and Files</h1>
<form th:action="@{/}" th:object="${path}" method="post">
    <div>New directory: <input type="text" th:field="*{content}" /><input type="submit" value="Add to list" />
    <div style="color:red; position: absolute; left: 110px;" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div></div>
</form>
<br>
<table th:if="${dirs?.size()>0}" border="1">
    <caption>Directories</caption>
    <thead>
    <tr style="background-color: #EEEEEE;">
        <th>Created Date</th>
        <th>Path</th>
        <th>Num of dirs</th>
        <th>Num of files</th>
        <th>Summary size of files</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dir,iterstat : ${dirs}" th:style="${iterstat.even} ? 'background-color: #F0F0F0' : 'background-color: #FFFFFF'">
        <td th:text="${#dates.format(dir.getCreatedDate(),'dd-MM-yyyy HH:mm')}"/>
        <td th:text="${dir.getPath()}"/>
        <td th:text="${dir.getNestedDirsCount()}" align="right"/>
        <td th:text="${dir.getNestedFilesCount()}" align="right"/>
        <td th:text="${dir.getSummarySizeReadable()}" align="right"/>
        <td>
            <form action="#" th:action="@{/files/} + ${{dir.getId()}}" method="get">
                <button th:id="${dir.getId()}" type="submit">
                    <i>Files</i>
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>